body{
    background-color: #191919;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 26px 50px;
}
ul{
    display: flex;
    gap: 40px;
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;
    list-style: none;
}
ul a{
    color: white;
    text-decoration: none;
}
ul a:hover{
    color:#118DA8;
}
.s1{
    display: flex;
    justify-content: space-between;
    padding: 50px;
}
.frame{
    width: 650px;
    height: 873.44px;
}
.content{
    color: white;
}
.content h2{
    font-weight: 400;
    font-size: 70px;
    line-height: 88px;
}
.content h2 span{
    font-size: 75px;
}
.content p{
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
}
.icons{
    margin-right: 17px;
}
/*section 2*/
.s2{
    display: flex;
    justify-content: space-between;
    padding: 80px;
    gap:50px;
    flex-direction: column;
}
.cardtitle{
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.cardtitle h1{
    color:white;
    font-weight: 400;
    font-size: 64px;
    line-height: 79.2px;
    letter-spacing: 2.88px;
}
.cardtitle button{
    color:white;
    background-color:#118DA8 ;
    width: 178px;
    height: 51px;
    border-radius: 6px;
    font-size: 17px;
    font-weight: 400;
    line-height: 27px;
    margin-top: 60px;
}
.card1{
    margin-top:60px;
}
.card{
    display: flex;
    background-color: #000000;
    align-items: center;
    gap: 53px;
    color:white;
    border-radius: 32px;
    width: 1300px;
    padding: 40px;
}


.tag{
    width: fit-content;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    background-color: #191919;
    border-radius: 6px;
    padding: 0px 16px;
    margin-bottom: 48px;
}
.Episode{
    color: #118DA8;
}
.h1card1{
    width: 701px;
    height: 141px;
    font-weight: 400;
    font-size: 64px;
    line-height: 70.4px;
    margin-bottom: 28px;
}
.textcard1{
    width: 757px;
    height: 99px;
    color:white;
    opacity: 0.7;
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    margin-bottom: 18px;
}
.btncard1{
    width: 208px;
    height: 51px;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    background-color: #118DA8;
    color: white;
    border:none;
    border-radius: 6px;
}
/*section 3*/
.s3{
    display: flex;
    justify-content: space-between;
    padding: 80px;
    gap:50px;
}
.meet{
color: #118DA8;
font-weight: 400;
font-size: 18px;
line-height: 27px ;
margin-top: 20px;
}
.text{
    color:white;
}
.text h1{
    font-weight: 400;
    font-size: 65px;
    line-height: 79.2px;
    letter-spacing: 2.88px;
}
.jacobhas{
    opacity: 70%;
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
}
.he{
    opacity: 70%;
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
}
.arrow{
    background-color: #118DA8;
    border-radius: 400px;
    width: 112px;
    height: 112px;
}
.arrow img{
    margin: 21px 4px;
}
/*section 4*/
.s4{
    display: flex;
    justify-content: space-between;
    padding: 80px;
    gap:50px;
}
.s4card{
    display: flex;
    align-items: center;
    background-color: #000000;
    
    border-radius: 32px;
    gap:227px;
}
.s41{
    padding: 60px;
}
.s41 p{
    color:#118DA8;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    margin-bottom: -40px;
}
.s41 h1{
    color:#ffffff;
    font-weight: 400;
    font-size: 72px;
    line-height: 79.2px;
    letter-spacing: 2.88px;
}

.s42 input{
    background-color: #191919;
    width: 522px;
    height: 82px;
    border: 1px solid #191919;
    border-radius: 6px;
    font-weight: 400;
    font-size: 24px;
    line-height: 28.8px;
    color:white;
    opacity: 70%;
    margin-top: 20px;
    padding-left: 19px;
}
.s42 button{
    background-color: #118DA8;
    width: 87px;
    height: 48px;
    border-radius: 6px;
    color:#FFFFFFB2;
    opacity: 70%;
    font-weight: 700;
    font-size: 15px;
    line-height: 28.8px;
    margin-top: 20px;
}

/*section 5*/